body{
    background-color: rgb(248, 244, 240);
}
.a1{
    display:flex;
    background-color:rgb(255, 255, 255);
    color: rgb(245, 151, 151);
    padding: 25px;
}
.a1 h1{
    display: inline;
}
.a1 h3{
    display: inline;
}
.a2{
    background-color:rgb(184, 249, 251);
}
.a3{
    background-color:rgb(184, 249, 251);
}
